.main {
    &-background {
        background: url(../../img/bg1.jpg) center no-repeat;
        background-size: cover;
    }
    padding: 100px 0;
    &-title {
        h1 {
            width: 40%;
            line-height: 60px;
            color: #fff;
            span {
                color: $yellow;
            }
        }
    }
    &-list {
        width: 68%;
        padding: 5rem 0 7rem 0;
        padding-left: 1.5rem;
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            li {
                padding-left: 0.8rem;
                margin-top: 1rem;
                color: $white;
                list-style-image: url(../../img/marker.svg);
            }
        }
    }
}