.quap {
    margin-bottom: 26rem;
    background: url(../../../img/bg2.jpg) center no-repeat;
    background-size: cover;
    @media only screen and (max-width: 586px) {
        margin-bottom: 2rem;
    }
    &-wrapper-desc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media only screen and (max-width: 586px) {
            grid-template-columns: repeat(1,1fr);
        }
    }
    &-desc {
        h2 {
            color: $white;
        }
        p {
            width: 72%;
            padding-top: 3rem;
            font-size: $TitleMediumSize;
            font-weight: $SemiBoldFont;
            line-height: 1.3;
            color: $orange;
            @media only screen and (max-width: 586px) {
                width: 100%;
                padding-top: 1rem;
            }
        }
    }
    &-img {
        @media only screen and (max-width: 586px) {
            display: none;
        }
        img {
            position: relative;
            top: -10rem;
            left: 5rem;
        }
    }
    &-content {
        position: absolute;
        top: 360px;
        width: 100%;
        height: 715px;
        padding: 3rem 5rem;
        border-top: 10px solid $yellow;
        background: url(../../../img/bg3.jpg) no-repeat bottom center;
        background-size: cover;
        @media only screen and (max-width: 586px) {
            position: initial;
            height: 100%;
            top: 260px;
            padding: 1rem 2rem;
            margin-top: 2rem;
        }
    }
    &-list {
        @media only screen and (max-width: 586px) {
            margin-left: 1rem;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 9rem;
            @media only screen and (max-width: 586px) {
                grid-template-columns: repeat(1,1fr);
                grid-column-gap: 0;
            }
            li {
                padding: 1.3rem 0;
                line-height: 1.3;
                list-style-image: url(../../../img/marker.svg);
                @media only screen and (max-width: 586px) {
                    padding: 0.6rem;
                    font-size: 16px;
                }
            }
        }
    }
}