@font-face {
    font-family: 'SegoeUi';
    src: url('../../fonts/segoe/SegoeUI-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'SegoeUi';
    src: url('../../fonts/segoe/SegoeUI-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'SegoeUi';
    src: url('../../fonts/segoe/SegoeUI-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'SegoeUi';
    src: url('../../fonts/segoe/SegoeUI.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SegoeUi';
    src: url('../../fonts/segoe/SegoeUI-Light.ttf');
    font-style: normal;
    font-weight: 300;
}